@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
   box-sizing: border-box;
}
body{
   font-family:sans-serif ,'Lato';
   display: flex;
   align-items: center;
   justify-content: center;
   height:100vh;
   margin: 0;
   overflow: hidden;
   /* the overflow :elimenate the scrole bar x and y  */
}
.bg {
   background:url('image.jpg')
    no-repeat center center/cover;
   position: absolute;
   top:-30px;
   left:-30px;
   height: calc(100vh + 60px);
   width: calc(100vw + 60px) ;
   z-index:-1;
   filter: blur(0px);
}
.loading-text{
   color: #fff;
   font-size:35px;
}

